/* Trip Snapshot Website CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------*/
/* Trip Snapshot Website- Login Page Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100vh; /* full viewport height */
    font-family: 'SN Pro', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    display: none;  
}

h1, h2, h3, h4 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

p, button {
    font-family: 'SN Pro', sans-serif;
}
/*--------------------------------------------------------*/
/* Header Styles */
header {
    display: flex;      
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.logo {
    width: 120px;
}

.logo-link {
    order: 1;
}

.profile {
    width: 32px;
    height: 32px;
} 

.profile-link {
    order: 2;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    order: 0;
}

.menu-icon {
    cursor: pointer;
    display: block;
    z-index: 1000;
}

.menu-icon img {
    width: 44px;
}

#menu-toggle {
    display: none;        
}

.mobile-nav {
    display: none; 
    position: absolute;
    top: 100%;        
    left: 0;          
    width: 100%;   
    background: #facc15;         
    box-shadow: 0 6px 15px rgba(0,0,0,0.08); 
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;             
}

.mobile-nav ul {      
    list-style: none;         
    text-align: center;
    padding: 0;
    margin: 0;
}

.mobile-nav li {
    padding: 15px 0;
}

.mobile-nav a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.mobile-nav li:hover, .mobile-nav a:hover {
    background-color: #1ca7ec;     
    color: #ffffff;     
}

#menu-toggle:checked ~ .mobile-nav {
    display: block;
    max-height: 500px;
}

#search-bar {
    display: none;
}
/*--------------------------------------------------------*/
/* Hero Section */
#login-hero {
    width: 80%;
    margin: 40px auto 20px;
}

#login-hero h2 {
    display: none;
}

#login-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
/*--------------------------------------------------------*/
/* Login Form */
#login {
	margin: 20px 40px;
}

#login h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; 
    padding-left: 5px;
}

.input-group {
	margin-bottom: 15px;
}

.input-group input {
	width: 100%;
	padding: 12px 5px;
	border: 1px solid #808080;
	border-radius: 8px;
	font-size: 16px
}

#forgot-password-container {
	text-align: right;
	font-size: 14px;
	margin-bottom: 15px;
    text-decoration: none;
}

#forgot-password-link {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

#forgot-password-link:hover {
	color: #1ca7ec;
}

#login-button {
	width: 100%;
	padding: 12px;
	margin-top: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	background-color: #000000;
	color: #ffffff;
    transition: background-color 0.3s;
}
#login-button:hover {
	background-color: #facc15;
    color: #000000;
}

#no-account-container {
    text-align: center;
    margin: 20px 0 10px;
    font-weight: bold;
}

#no-account-container h3 {
    font-size: 18px;
    margin-bottom: 30px;
}

#signup-button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-color: #1ca7ec;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}

#signup-button:hover {
    background-color: #000000;
}
/*--------------------------------------------------------*/
/* Popup Windows */
.popup-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.popup-window .popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.popup-content p {
	margin-bottom: 20px;
	font-size: 16px;
	color: #000000;
}

.popup-window .popup-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    background-color: #1ca7ec;
    color: #ffffff;
    transition: background-color 0.3s;
}
.popup-window .popup-content button:hover {
    background-color: #000000;
}

/* Forgot Password Popup */
#forgot-popup {
	margin: 15% auto;
    text-align: center;
    line-height: 1.5;
}

/* Close Button */
.close-popup {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-color: #1ca7ec;
    color: #ffffff;
    transition: background-color 0.3s;
}

.close-popup:hover, .close-popup:focus {
    background-color: #000000;
}
/*--------------------------------------------------------*/
/* Footer Styles */
footer {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
    background-color: #facc15;
}

#stay-connected {
    padding: 20px;
    width: 100%;
}

#stay-connected input[type="email"] {
	padding: 10px;
	border-radius: 8px;
	border: 2px solid #1ca7ec;
	margin: 10px;
	width: 80%;
    text-align: center;
}
#subscribe-button {
	background-color: #000;
	color: #fff;
	padding: 10px 50px;
	border-radius: 8px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
#subscribe-button:hover {
	background-color: #1ca7ec;
}

#useful-links {
    padding: 20px;
}

#useful-links li {
	line-height: 1.5;
}

#useful-links a {
	text-decoration: none;
     color: #000000;
}

#useful-links a:hover {
	color: #1ca7ec;
}

#copyright {
    background-color: #ffffff;
	width: 100%;
	padding: 20px;
}

#copyright h2 {
    display: none;
}

#social-media {
    margin-top: 10px;
}

#social-media img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    transition: transform 0.3s;
}
/*--------------------------------------------------------*/
/* Tablet Styles */
@media screen and (min-width: 768px) {
    .menu-icon { 
        display: none;
    }

    .mobile-nav {
        display: block !important;
        position: static;
        max-height: none;
        background: transparent;
        box-shadow: none;
        overflow: visible;
    }
    .mobile-nav ul { 
        display: flex; 
        gap: 20px; 
    }

    .mobile-nav a { 
        font-weight: 600; 
        padding: 5px 10px; 
    }

    .mobile-nav li:hover, .mobile-nav a:hover {
        background-color: transparent; 
        color: #1ca7ec; 
    }
    
    header { 
        justify-content: space-between;
    }

    .hamburger-menu { 
        order: 1; 
    }

    .logo-link { 
        order: 0; 
    }

    .profile-link { 
        order: 2; 
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        text-align: center;
    }
    
    #copyright {
        grid-column: span 2;
    }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
    header { 
        padding: 20px 5%; 
    }

    .logo { 
        width: 150px; 
    }

    .mobile-nav ul { 
        gap: 45px;
    }

    .mobile-nav a {
        font-size: 18px;
        padding: 10px 15px;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    #useful-links ul {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        text-align: center;
    }

    #stay-connected input[type="email"] {
        width: 100%; 
        max-width: 300px;
    }

    #copyright {
        background-color: #ffffff;
    }
}

/* Large Desktop Styles */
@media screen and (min-width: 1440px) {
    header, main, footer {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-nav ul { 
        gap: 80px;
    }
}