/* Trip Snapshot Website CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Trip Snapshot Website Mobile Styles */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
}

h1 {
    /* Hide the main heading */
    display: none;  
}

header {
    /* Flexbox for header layout */
    display: flex;      
    align-items: center;
    padding: 10px 20px;
    position: relative;     /* Ensure the header is above the mobile nav */
}

.hamburger-menu {
    display: flex;      /* Flexbox to align items */
    align-items: center;
}

.logo-link {
    margin: 0 auto;     /* Center the logo */
}

.logo {
    width: 120px;
    height: auto;
}

#menu-toggle {
  display: none;        /* Hide checkbox */
}

.menu-icon {
  cursor: pointer;
  display: block; /* Show on mobile */
}

.menu-icon img {
  width: 28px;
}

/* Mobile nav default state */
.mobile-nav {
  position: absolute;
  top: 100%;        /* Position below the header */
  left: 0;          /* Align to the left */
  width: 100%;   
  background: #facc15;    
  display: none;        /* Hidden by default */
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);      /* Subtle shadow */
  z-index: 999;         /* Ensure it appears above other content */
}

/* Nav links */
.mobile-nav ul {
  width: 100%;        /* Full width for better touch targets */
  list-style: none;         /* Remove default list styling */
  text-align: center;
  padding: 0;
  margin: 0;
}

.mobile-nav li {
  padding: 12px 0;
}

.mobile-nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.mobile-nav li:hover, .mobile-nav a:hover {
  background-color: #1ca7ec;     /* Highlight on hover */
  color: #ffffff;     /* Change text color on hover */
}

/* Show menu when clicked */
#menu-toggle:checked + .menu-icon + .mobile-nav {
  display: block;
}

h1, h2, h3, h4 {
    font-family: 'Archivo Black', sans-serif;
}

p {
    font-family: 'SN Pro', sans-serif;
}

.contact-us, .profile {
    width: 30px;
    height: 30px;
}

/* Hero Section */
#hero {
    display:flex;
    align-items:center;
    background-image: url('../images/Hero-Background.jpeg');
    background-size:cover;
    background-position:center;
    height:300px;
    text-align:center;
    color:#ffffff;
    position:relative;
    padding: 0 10px;
}

/* Overlay layer */
#hero::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: rgba(0,0,0,0.2);
    z-index: 1;
}

/* Hero content above overlay */
#hero-content {
    position: relative;
    z-index: 2; /* above overlay */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    max-width: 600px;
    width: 100%;
}

#hero h2 {
    grid-column: 1 / -1; /* Span both columns */
    font-size: 25px;
    color: #facc15;
    margin-bottom: 10px;
}

#hero p {
    font-weight: bold;
    grid-column: 1 / -1; /* Span both columns */
    font-size: 15px;
    margin-bottom: 20px;
}

#start-planning-btn, #explore-destinations-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #facc15;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
}

#start-planning-btn:hover, #explore-destinations-btn:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Who We Are Section */
#who-we-are {
    text-align: center;
    padding: 20px;
}

#who-we-are h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Common Traveler Frustrations Section */
#frustrations {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#frustrations-slider {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#frustrations h3 {
    background-color: #facc15;
    color: #000000;
    padding: 15px;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 40s infinite;
}

.slide {
    width: calc(100% / 3);
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
}

.slide img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@keyframes slide {

    /* Slide 1 */
    0%   { transform: translateX(0); }
    25%  { transform: translateX(0); }

    /* Slide 2 */
    33%  { transform: translateX(-33.333%); }
    58%  { transform: translateX(-33.333%); }

    /* Slide 3 */
    66%  { transform: translateX(-66.666%); }
    91%  { transform: translateX(-66.666%); }

    /* Reset */
    100% { transform: translateX(0); }
}

/* How It Works Section */
#how-it-works {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: #facc15;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#how-it-works-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#how-it-works-image {
    width: 100px;
    height: auto;
}

#how-it-works h3 {
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
}

#how-it-works ol {
    list-style: decimal inside;
    font-family: 'SN Pro', sans-serif;
    color: #000000;
    font-size: 15px;
    padding-left: 20px;
}

/* Features Section */
#features {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    margin: 40px auto;
    padding-top: 20px;
    text-align: center;
}

#features-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    padding: 20px;
    text-align: center;  
}

.features-image {
    width: 60px;
    height: auto;
}

#itinerary-feature {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#itinerary-feature:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

#itinerary-feature h4 {
    background-color: #facc15;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

#itinerary-feature p {
    color: #000000;
    font-size: 15px;
    padding: 0 20px;
}

#itinerary-feature img {
    margin: 15px 0;
}

#itinerary-feature img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#snapshot-feature {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#snapshot-feature:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

#snapshot-feature h4 {
    background-color: #facc15;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

#snapshot-feature p {
    color: #000000;
    font-size: 15px;
    padding: 0 20px;
}

#snapshot-feature img {
    margin: 15px 0;
}

#snapshot-feature img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#explore-feature {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#explore-feature:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

#explore-feature h4 {
    background-color: #facc15;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

#explore-feature p {
    color: #000000;
    font-size: 15px;
    padding: 0 20px;
}

#explore-feature img {
    margin: 15px 0;
}

#explore-feature img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#save-feature {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#save-feature:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

#save-feature h4 {
    background-color: #facc15;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

#save-feature p {
    color: #000000;
    font-size: 15px;
    padding: 0 20px;
}

#save-feature img {
    margin: 15px 0;
}

#save-feature img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Search Section */
#search {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-image: url('../images/search-image.jpeg');
    background-size: cover;
    background-position: center;
    text-align: right;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search-content {
    background-color: #ffffff;
    padding: 20px;
    width: 325px;
    height: fit-content;
    border-radius: 5px;
    grid-column: 2/3;
    text-align: center;
    align-self: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#search h3 {
    color: #000000;
    margin-bottom: 15px;
}

#search p {
    color: #000000;
    font-size: 15px;
    margin-bottom: 20px;
}

#search-form input[type="text"] {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Sn Pro', sans-serif;
    margin-bottom: 15px;
    border: 2px solid #1ca7ec;
    border-radius: 5px;
}

#search-form button {
    background-color: #facc15;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

#search-form button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#destination-dropdown {
    width: 100%;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Sn Pro', sans-serif;
    border-radius: 5px;
}

#destination-dropdown option {
    padding: 10px;
}

#destination-search-btn {
    background-color: #facc15;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 2px;
    border: none;
    border-radius: 5px;
    width: 15%;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}


@media (min-width: 768px){

  header {
    justify-content:space-between;
  }

  .logo {
    margin:0;
  }

  .menu-icon {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: static;
    box-shadow: none;
  }
  
  .mobile-nav ul{
    display:flex;
    gap:35px;
    align-items:center;
  }
}